<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cadastrar Aluno</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <form method="POST" action="/post_student">
        <label>RA:</label>
        <input id='ra' name='ra' type='number'/> </br>
        <label>Nome:</label>
        <input id='nome_do_aluno' name='nome_do_aluno' type='text'/>
        <label>Email:</label>
        <input id='email_do_aluno' name='email_do_aluno' type='text'/> </br>
        <label>Cep:</label>
        <input id="cep" name="cep" type='text'/> </br>
        <label>Logradouro:</label>
        <input id='logradouro' name='logradouro' type='text'/>
        <label>Numero:</label>
        <input id='numero' name='numero' type='text'/>
        <label>Complemento:</label>
        <input id='complemento' name='complemento' type='text'/> </br>
        <input type="submit" />
    </form>
    
    <script type="text/javascript">
        $("#cep").focusout(function(){
            $.ajax({
                url: 'https://viacep.com.br/ws/'+$(this).val()+'/json/unicode/',
                dataType: 'json',
                success: function(resposta){
                    $("#logradouro").val(resposta.logradouro);
                    $("#numero").focus();
                }
            });
        });
    </script>
</body>
</html>