{% extends "base.html" %}
{% block title %}Alunos{% endblock %}
{% block content %}

<div class="flex">
    <h1>Alunos</h1>
    <button id='back' type="button" onclick='backfunction()' class="btn btn-outline-primary">Adicionar</button>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">RA</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for student in allStudents %}
        <tr>
            <td>{{student.ra}}</td>
            <td>{{student.nome_do_aluno}}</td>
            <td>{{student.email_do_aluno}}</td>
            
            <td>
                <i class="fa fa-edit icon" onclick='editfunction("{{student.ra}}")'></i>
                <i class="fa fa-remove icon" onclick='deletefunction("{{student.ra}}")'></i>
            </td>
        </tr>
        
{% endfor %}

    </tbody>
  </table>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<script type=text/javascript>
function editfunction(ra) {
    window.location.href = '/student/'+ra;
}

function backfunction(){
    console.log('entry')
    window.location.href = '/student';
}

function deletefunction(ra){
    $.ajax({
        url: `/del_student/${ra}`,
        method: 'DELETE',
        // data: {
        //     ra:ra
        // },
        success: function(data) {
            console.log('DELETED')
            location.reload()
        } 
    })
}
</script>

{% endblock %}