<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Profile: {{ student.nome_do_aluno }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    

    <form method="POST" action="/del_student">
        <h1>{{ student.nome_do_aluno }}</h1>
        
        <p><label>RA:</label></p>
        <input name='ra' value='{{ student.ra }}'/>
        <h2>Email: {{ student.email_do_aluno }}</h2>
        <input type='submit' value='Delete'/>
    </form>


</body>
</html>