<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Profile: {{ student.nome_do_aluno }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <form method="PUT" action="/edit_student">
        <label>RA:</label>
        <label>{{ student.ra }}</label> </br>
        <input id='ra' name='ra' type='hidden' value='{{ student.ra }}'/>
        <label>Name:</label>
        <input id='nome_do_aluno' name='nome_do_aluno' type='text' value='{{ student.nome_do_aluno }}'/>
        <label>Email:</label>
        <input id='email_do_aluno' name='email_do_aluno' type='email' value='{{ student.email_do_aluno }}'/>
        <label>Cep:</label>
        <input id='cep' name='cep' type='number' value='{{ student.cep }}'/>
        <label>Logradouro:</label>
        <input id='logradouro' name='logradouro' type='text' value='{{ student.logradouro }}'/> </br></br>
        <label>Numero:</label>
        <input id='numero' name='numero' type='text' value='{{ student.numero }}'/>
        <label>Complemento:</label>
        <input id='complemento' name='complemento' type='text' value='{{ student.complemento }}'/> </br>
        <input type='submit' value='Salvar'/>
    </form>
    <script type="text/javascript">
        $("#cep").focusout(function(){
            $.ajax({
                url: 'https://viacep.com.br/ws/'+$(this).val()+'/json/unicode/',
                dataType: 'json',
                success: function(resposta){
                    $("#logradouro").val(resposta.logradouro);
                    $("#numero").focus();
                }
            });
        });
        </script>

</body>
</html>